.bg1 {
    background-image: url("assets/mobileBG.jpg");
    background-repeat: no-repeat, repeat;
    background-color: #171717; /* Used if the image is unavailable */
    height:1000px;
    background-size: cover;
    overflow: auto;
     }
.bg {
    background-image: url("assets/img9.jpg");
    background-repeat: no-repeat, repeat;
    background-color: #171717; /* Used if the image is unavailable */
    height: 100%;
    background-size: cover;
    overflow: auto;
}
.navbar{
    background-color: #171717;
    color: white;
    width: 100%
    
}
.is-active{
    background-color: #171717;
}


.heading {
    color: white;
    
}
.contentBody {
    margin-top: 15%;
}
.nav-item{
    background-color: black;
}
.grid1 {
    padding: 2%;
    background-color: rgba(206,205,203,0.8);
    width: 60%;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
    margin-bottom: 10%;  
    text-align: justify;
    /* border-color: rgb(42, 99, 165, 0.5);
    border-style: ridge; */
}

h3 {
    text-decoration: underline;
    background-color: rgba(206,205,203, 0.3);
    margin-top: 2%;
    font-weight: bold;
}
.open{
   margin-top: 3%;
}

.lic{
    font-weight: bold;
    margin-left: 2%;
    text-align:center;
}
.links{
    text-align: center;
    font-weight: bold;
}

.intro{
    margin-bottom:5%;
}
.clearfix {
    clear: both;
    display: table;
  }

.foliomargin {
    margin-bottom:10px;
    text-align:center;
}

.form-group .form-floating {
    margin: 10px;
}

.icon {
    width: 8%; 
     text-align: center;
 }
 footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: black;
    }

    /*mobile css  */
   .mobile{
       background-image: url("assets/mobileBG.jpg");
       background-repeat: no-repeat, repeat;
        background-color: #171717; /* Used if the image is unavailable */
        height: 800px;
        background-size: cover;
        overflow: auto;
   }

   .headMobile{
       background-color: white;
   }

   .box{
       background-color: rgb(232,178,1, .8);
       width: 70%;
       padding: 2%;
       margin-left: 15%;
       margin-top: 15%;
       position: relative;
       overflow-inline: hidden;
   }
   .box1{
    background-color:rgb(255, 255, 255, .8);
    width: 75%;
    position: absolute;
    margin-top: 65%;
    margin-left: 25%;
    padding: 8%;
    font-weight: 500;
}
.boxImg {
    display: block;
    max-width: 100%;
    height: auto;
}

.box2{
    background-color: rgb(232,178,1, .8);
    width: 70%;
    padding: 10%;
    margin-left: 5%;
    margin-top: 35%;
    position: absolute;
    overflow-inline: hidden;
    font-weight: 600;
}
.box3{
    background-color:rgb(255, 255, 255, .8);
    width: 90%;
    position: absolute;
    margin-top: -5%;
    margin-left: 25%;
    padding: 10%;

}

.contactMobile{
    margin-left: 10%;
    max-width: 90%
}

.icon{
    width: 30px;
}
.fb-video{
    width: 50%;
}
/* services page animation found at https://uicookies.com/bootstrap-animation/*/

.frame {
	text-align: center;	
	position: relative;
	cursor: pointer;	
	perspective: 500px; 
}
.frame img {
	width: 300px;
	height: 300px;
}
.frame .details {
	width: 70%;
	height: 80%;	
	padding: 5% 8%;
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotateY(90deg);
	transform-origin: 50%;
	background: rgba(255, 255, 255, 0.8);	
	opacity: 0;
	transition: all 0.4s ease-in;
  font-weight: 500;
	
}
.frame:hover .details {
	transform: translate(-50%, -50%) rotateY(0deg);
	opacity: 1;
}

